<?xml version="1.0"?>
<config>
    <modules>
        <Essential_Gridmanager>
            <version>1.0.0</version>
        </Essential_Gridmanager>
    </modules>
    <frontend>
        <routers>
            <gridmanager>
                <use>standard</use>
                <args>
                    <module>Essential_Gridmanager</module>
                    <frontName>gridmanager</frontName>
                </args>
            </gridmanager>
        </routers>
        <layout>
            <updates>
                <gridmanager>
                    <file>essential/gridmanager.xml</file>
                </gridmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<gridmanager>
				<use>admin</use>
				<args>
					<module>Essential_Gridmanager</module>
					<frontName>gridmanager</frontName>
				</args>
			</gridmanager>
        </routers>
    </admin>   
    <global>
	 <blocks>
            <gridmanager>
                <class>Essential_Gridmanager_Block</class>
            </gridmanager>
        </blocks>
         <models>
             <gridmanager>
                <class>Essential_Gridmanager_Model</class>
                <resourceModel>gridmanager_resource</resourceModel>
            </gridmanager> 
            <gridmanager_resource>
                <class>Essential_Gridmanager_Model_Resource</class>
                <entities>
                    <table_essgrid>
                        <table>essential_grid</table>
                    </table_essgrid>
                    <table_essgrid_config_data>
                        <table>essential_grid_config_data</table>
                    </table_essgrid_config_data>
                </entities>
            </gridmanager_resource> 
        </models>
        <resources>
            <gridmanager_setup>
                <setup>
                    <module>Essential_Gridmanager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gridmanager_setup>
            <gridmanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gridmanager_write>
            <gridmanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gridmanager_read>
        </resources>
        <blocks>
            <gridmanager>
                <class>Essential_Gridmanager_Block</class>
            </gridmanager>
        </blocks>
        <helpers>
            <gridmanager>
                <class>Essential_Gridmanager_Helper</class>
            </gridmanager>
        </helpers>
    </global>
	<!-- <default>
		<gridmanager>
			<gridmanager>
				<enabled>1</enabled>
				<auto>0</auto>
				<speed>600</speed>
				<interval>3000</interval>
				<description>0</description>
				<qty>9</qty>
				<items_show>5</items_show>
				<item_width>200</item_width>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</gridmanager>
		</gridmanager>
	</default> -->
	<adminhtml>
		<layout>
			<updates>
				<gridmanager>
					<file>essential_grid.xml</file>
				</gridmanager>
			</updates>
		</layout>
	</adminhtml>
</config>

